{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Home{% endblock %}
{#TODO: revoir la Home Page#}
{% block body %}
    <h1 class="text-center text-uppercase text-light">Bienvenue sur mon portfolio</h1>
    <article class="d-flex justify-content-center align-items-center">
        <div class="card rounded-end container-fluid shadow-lg mb-5">
            <div class="row">
                <div class="col-md-6 col-12">
                    {% if vich_uploader_asset(my_profile) %}
                        <img src="{{ vich_uploader_asset(my_profile) }}" class="img-fluid"
                             alt="{{ my_profile.lastname }}">
                    {% else %}
                        <img src="https://picsum.photos/id/104/300/300" class="img-fluid" alt="dreamcatcher">
                    {% endif %}

                </div>
                <div class="col-md-6 col-12">
                    <div class="card-body">
                        <p class="card-text">{{ my_profile.summary|raw }}</p>
                        <h3 class="card-text">Mes informations personnelles</h3>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Je suis né le {{ my_profile.birthday|date('d-m-Y') }}</li>
                            <li class="list-group-item">J'habite à {{ my_profile.town }}</li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </article>

    <section>
        <h2 class="text-center text-uppercase text-light">mes projets récents</h2>
        <div class="card-group">
            {% for project in projects %}
                <div class="card mx-4 mb-4 shadow-lg mb-4">
                    {% if project.imageFile %}
                        <img src="{{ vich_uploader_asset(project) }}" class="card-img-top img-fluid" alt="{{ project.name }}">
                    {% else %}
                        <img src="https://picsum.photos/100/" class="card-img-top img-fluid" alt="image picsum aléatoire">
                    {% endif %}
                    <div class="card-body d-flex flex-column justify-content-around align-items-center">
                        <div class="d-flex flex-row justify-content-between">
                            <h5 class="card-title">{{ project.name }}</h5>
                        </div>
                        <a href="{{ path('project_show', {'id': project.id}) }}" class="btn btn-outline-info">En savoir plus</a>
                    </div>
                </div>
            {% endfor %}
        </div>

    </section>
{% endblock %}
