{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Home{% endblock %}

{% block body %}
    <h1 class="text-center text-uppercase text-light">Mon portfolio</h1>
    <article class="d-flex justify-content-center align-items-center">
        <div class="card rounded-end container-fluid shadow-lg mb-5">
            <div class="row">
                <div class="col-md-6 col-12">
                    {% if vich_uploader_asset(my_profile) %}
                        <img src="{{ vich_uploader_asset(my_profile) }}" class="img-fluid" alt="{{ my_profile.lastname }}">
                        {% else %}
                            <img src="https://picsum.photos/id/104/300/300" class="img-fluid" alt="dreamcatcher">
                    {% endif %}

                </div>
                <div class="col-md-6 col-12">
                    <div class="card-body">
                        <p class="card-text">{{ my_profile.summary|raw }}</p>
                        <h3 class="card-text">Mes informations personnelles</h3>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Je suis né le {{ my_profile.birthday|date('d-m-Y') }}</li>
                            <li class="list-group-item">J'habite à {{ my_profile.town }}</li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </article>

    <section>
        <h2 class="text-center text-uppercase text-light">mes projets récents</h2>
        <div class="card-group">
            {% for project in projects %}
                <div class="card mx-4 mb-4 shadow-lg mb-3">
                    {{ dump(project) }}
                    {% if project.imageFile %}
                        <img src="{{ vich_uploader_asset(project) }}" class="card-img-top" alt="{{ project.name }}">
                    {% else %}
                        <img src="https://picsum.photos/200/300" alt="image picsum aléatoire">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ project.name }}</h5>
                        <p class="card-text">Projet achevé le {{ project.date|format_date('short', locale='fr') }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>

    </section>
{% endblock %}
