{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Home{% endblock %}

{% block body %}
    <h1 class="text-center text-uppercase text-light">Mon portfolio</h1>
    <article class="d-flex justify-content-center align-items-center">
        <div class="card rounded-end container-fluid shadow-lg mb-5">
            <div class="row">
                <div class="col-md-2 col-12">
                    <img src="{{ vich_uploader_asset(my_profile) }}" class="img-fluid" alt="{{ my_profile.lastname }}">
                </div>
                <div class="col-md-6 col-12">
                    <div class="card-body">
                        <p class="card-text">{{ my_profile.summary|raw }}</p>

                    </div>
                </div>
            </div>
        </div>
    </article>

    <section>
        <h2 class="text-center text-uppercase text-light">mes projets récents</h2>
        <div class="card-group">
            {% for project in projects %}

                <div class="card mx-2 mb-4 shadow-lg mb-3">
                    <img src="{{ vich_uploader_asset(project) }}" class="card-img-top" alt="{{ project.name }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ project.name }}</h5>
                        <p class="card-text">Projet achevé le {{ project.date|format_date('short', locale='fr') }}</p>
                    </div>
                </div>


            {% endfor %}
        </div>

    </section>
{% endblock %}
