{% extends 'base.html.twig' %}

{% block title %}Content{% endblock %}

{% block body %}
    <h1>Content</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ content.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ content.name }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ content.date ? content.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ content.description }}</td>
            </tr>
            <tr>
                <th>Localisation</th>
                <td>{{ content.localisation }}</td>
            </tr>
            <tr>
                <th>Template</th>
                <td>{{ content.template }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('content_index') }}">back to list</a>

    <a href="{{ path('content_edit', {'id': content.id}) }}">edit</a>

    {{ include('content/_delete_form.html.twig') }}
{% endblock %}
